@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.about-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80vh;
  padding-left: 6vw;
  padding-right: 15vw;
  box-sizing: border-box;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10vw;
  position: relative;
}

.about-left {
  display: flex;
  flex-direction: column;
}

.about-title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 10vw;
  margin-bottom: 1vw;
  color: #da88b1;
  position: relative;
  z-index: 0;
}

.about-description {
  font-size: 1.6vw;
  line-height: 1.6;
  margin: 0.5vw 0;
  color: #f0f0f0;
}

.about-description a {
  color: #ff69b4;
  text-decoration: none;
}

.about-description a:hover {
  text-decoration: underline;
}

.about-image {
  width: 150px;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 430px;
  position: relative;     
  left: -280px;       
  z-index: 2;           
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15vw;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.6vw;
  color: #f0f0f0;
  margin-top: 6vw; 
}

.section-title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3vw;
  margin-bottom: 2vw;
  color: #ffffff;
}

.icon-group {
  display: flex;
  gap: 2vw;
  margin-bottom: 2vw;
}

.license-text {
  font-size: 1.1vw;
  line-height: 1;
}