.resume-wrapper {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.section1 {
  height: 100vh;
  background: transparent;
}

.fade {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}

.section2 {
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 {
  height: 100vh;
}

.fade {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}

.section2 {
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.force-show {
  z-index: 999;
  position: relative;
  width: 100%;
}

.resume-section.no-bg {
  min-height: 100vh;
  background: transparent; /* ✅ 배경 없앰 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}