

.notice-img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}



.notice-img {
  width: 60%;
  max-width: 700px;
  border-radius: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.notice-wrapper {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;   
  align-items: center; 
  padding-left: 7vw;
  padding-right: 15vw; 
  margin-top: -15vw;
  box-sizing: border-box;
  background-color: transparent;
  gap:2px;
}

.notice-title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 10vw;
  color: #b96b93;
  margin-top:1vw;
  margin-left: 18vw;
  z-index: 10;
  margin-bottom:-20px;
}