.project-box {
  width: 35vw;               
  height: 300px;              
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  overflow: hidden;
    margin: 0 auto;         
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin-left: 6vw;
}

.project-box.clicked {
  
  background-color: #222;
  color: white;
  
}

.project-img {
  height: 90%;
  overflow: hidden;
  
  
}

.project-img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.project-content {
  padding: 20px;
  flex-grow: 1;
  overflow: hidden;
}

.project-content.scrollable {
  overflow-y: auto;
  
}

.project-cell {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-image-vertical {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 8px;
}

.project-box.clicked .project-img {
  display: none;
}


.project-top-img {
  width: 100%;
  height: 25px; 
  overflow: hidden;
  flex-shrink: 0;
}

.project-top-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-bottom: 2px solid #333;
}