.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.center-container {
  text-align: center;
}

.center-logo {
  width: 150px;
  height: auto;

  display: block;
  margin: 0 auto;
}

.greeting {
  font-size: 24px;
  margin-top: 16px;
  color: white;
}

body {
  background-image: url('./asset/IMG_6646.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  height: 100vh;
}